#
# This file is subject to the license agreement located in the file LICENSE
# and cannot be distributed without it. This notice cannot be
# removed or modified.
#

# ==========================================================================================================
# OCR Config
#
# The general structure is as follows
#
# [Object type n] n = 0..types
#     name = name of type, mandatory
#     other config specific to this type
#
# [Object instance n] n = 0..count
#     id = unique id, mandatory
#     type = <refer to the type above>, mandatory
#     other config specific to this instance
#

[General]
        version =       1.0.1

#======================================================


# =========================================================================================================
# Guid config
#

[environment]
   TG_INSTALL = ../../../ss/install
   WORKLOAD_BUILD = ./build
   STRUCT_OUT = ./build/ce_blob.bin

[GuidType0]
   name  		= PTR

[GuidInst0]
   id			= 0
   type			= PTR


# ==========================================================================================================
# Policy domain config
#

[PolicyDomainType0]
   name         	    = CE

[PolicydomainInst0]
   id			        = 0
   type			        = CE
   worker		        = 0
   scheduler		    = 0
   commapi              = 0
   allocator	    	= 0-2
   guid                 = 0
   parent               = 0
   location             = 0
   xecount              = 8
   neighborcount        = 1
   neighbors            = 0
# factories go below here, instances go above here
   taskfactory		    = HC
   tasktemplatefactory  = HC
   datablockfactory     = Regular
   eventfactory         = HC
#   costfunction         =  NULL currently


[TaskType0]
   name 		= HC

[TaskTemplateType0]
   name 		= HC

[DataBlockType0]
   name 		= Regular

[EventType0]
   name 		= HC

# ==========================================================================================================
# Memory Platform config
#

[MemPlatformType0]
   name 		= fsim

[MemPlatformInst0]
   id 			= 0
   type         = fsim
   start        = 0x600000
   size		= 0x50000

[MemPlatformInstForL2A]
   id 			= 1
   type         = fsim
   start        = 0x200000
   size			= 0x130000 # less than 1280 KB (0x140000)

#[MemPlatformInstForL2B]
#   id 			= 3
#   type         = fsim
#   start        = 0x400000
#   size			= 0x130000 # less than 1280 KB (0x140000)

#[MemPlatformInstForL1A]
#   id 			= 3
#   type         = fsim
#   start        = 0x800000
#   size			= 0xF000 # less than 64 KB (0x10000)

#[MemPlatformInstForL3]
#   id 			= 2
#   type         = fsim
#   start        = 0x2000000
#   size			= 0x7F0000 # less than 8M

#[MemPlatformInstForL4]
#   id 			= 2
#   type         = fsim
#   start        = 0x20000000
#   size			= 0xF00000 # 15M.  less than 16M

[MemPlatformInstForL5]
   id 			= 2
   type         = fsim
   start        = 0x201000000  # Bug #668: This hardcoding needs to be removed
                               # it's there to accommodate XE's DRAM sections
   size		= 0x1C000000   # 448M

# ==========================================================================================================
# Memory Target config
#

[MemTargetType0]
   name			= shared

[MemTargetInst0]
   id 			= 0
   type			= shared
   size         = 0x48000 # slightly smaller than memplatform
   memplatform	= 0
   level        = 1

[MemTargetInstForL2A]
   id 			= 1
   type			= shared
   size         = 0x12F000 # slightly smaller than memplatform
   memplatform	= 1
   level        = 2

#[MemTargetInstForL2B]
#   id 			= 3
#   type			= shared
#   size         = 0x12F000 # slightly smaller than memplatform
#   memplatform	= 3
#   level        = 2

#[MemTargetInstForL1A]
#   id 			= 3
#   type			= shared
#   size         = 0xE000 # slightly smaller than memplatform
#   memplatform	= 3
#   level        = 1

#[MemTargetInstForL3]
#   id 			= 2
#   type			= shared
#   size         = 0x7E0000 # slightly smaller than memplatform
#   memplatform	= 2
#   level        = 3

#[MemTargetInstForL4]
#   id 			= 2
#   type			= shared
#   size         = 0xEFF000 # slightly smaller than memplatform
#   memplatform	= 2
#   level        = 4

[MemTargetInstForL5]
   id 			= 2
   type			= shared
   size         = 0x1BFF0000 # slightly smaller than memplatform
   memplatform	= 2
   level        = 5

# ==========================================================================================================
# Allocator config
#

# Allocator types
[AllocatorType0]
   name			= quick
   misc			=		# Type specific config, if any

# Allocator instances
[AllocatorInst0]
   id 			= 0
   type         = quick        # Refer to the type by name
   size         = 0x40000       # slightly smaller than memplatform
   memtarget	= 0
   misc 		= 		        # Instance specific config, if any

[AllocatorInstForL2A]
   id 			= 1
   type         = quick	        # Refer to the type by name
   size         = 0x12E000       # slightly smaller than memplatform
   memtarget	= 1
   misc 		= 		        # Instance specific config, if any

#[AllocatorInstForL2B]
#   id 			= 3
#   type         = quick	        # Refer to the type by name
#   size         = 0x110000      # slightly smaller than memplatform
#   memtarget	= 3
#   misc 		= 		        # Instance specific config, if any

#[AllocatorInstForL1A]
#   id 			= 3
#   type         = quick	        # Refer to the type by name
#   size         = 0xD000      # slightly smaller than memplatform
#   memtarget	= 3
#   misc 		= 		        # Instance specific config, if any

#[AllocatorInstForL3]
#   id 			= 2
#   type         = quick	        # Refer to the type by name
#   size         = 0x7D0000      # slightly smaller than memplatform
#   memtarget	= 2
#   misc 		= 		        # Instance specific config, if any

#[AllocatorInstForL4]
#   id 			= 2
#   type         = quick	        # Refer to the type by name
#   size         = 0xEFE000      # slightly smaller than memplatform
#   memtarget	= 2
#   misc 		= 		        # Instance specific config, if any

[AllocatorInstForL5]
   id 			= 2
   type         = quick	        # Refer to the type by name
   size         = 0x1BFB0000    # slightly smaller than memplatform
   memtarget	= 2
   misc 		= 		        # Instance specific config, if any


# ==========================================================================================================
# Comm platform config
#

[CommPlatformType0]
   name			= CE

[CommPlatformInst0]
   id 			= 0
   type         	= CE  	# Refer to the type by name


# ==========================================================================================================
# Comm API config
#

[CommApiType0]
   name			= Handleless


[CommApiInst0]
   id 			= 0
   type			= Handleless
   commplatform	        = 0

# ==========================================================================================================
# Comp platform config
#

[CompPlatformType0]
   name			= fsim
   stacksize		= 0		# in MB

[CompPlatformInst0]
   id 			= 0
   type         	= fsim	# Refer to the type by name
   stacksize		= 0		# in MB
   ismasterthread	= 1

# ==========================================================================================================
# Comp target config
#

[CompTargetType0]
   name			= PASSTHROUGH
   frequency		= 3400		# in MHz


[CompTargetInst0]
   id 			= 0
   type			= PASSTHROUGH
   compplatform		= 0

# ==========================================================================================================
# Worker config
#

[WorkerType0]
   name         	= CE

[WorkerInst1]
   id			= 0
   type			= CE
   workertype           = master
   comptarget		= 0

# ==========================================================================================================
# Workpile config
#

[WorkPileType0]
   name         	= CE

[WorkpileInst0]
   id 			= 0
   type         	= CE


# ==========================================================================================================
# SchedulerObject config
#

[SchedulerObjectType0]
   name                         = WST
   kind                         = root

[SchedulerObjectInst0]
   id                           = 0
   type                         = WST

[SchedulerObjectType1]
   name                         = DEQ

[SchedulerObjectInst1]
   id                           = 1
   type                         = DEQ

# ==========================================================================================================
# SchedulerHeuristic config
#

[SchedulerHeuristicType0]
   name                         = CE

[SchedulerHeuristicInst0]
   id                           = 0
   type                         = CE

# ==========================================================================================================
# Scheduler config
#

[SchedulerType0]
   name         	= COMMON

[SchedulerInst0]
   id                   = 0
   type			= COMMON
   workpile		= 0
   workeridfirst        = 0
   schedulerObject                    = 0
   schedulerHeuristic                   = 0


# ==========================================================================================================
# DB config
#

[DBType0]
   name         	= regular

[DbInst0]
   id			= 0
   type			= regular


# ==========================================================================================================
# EDT config
#

[EDTType0]
   name         	= HC


[CrossPlatform]
   app_file             = $(WORKLOAD_BUILD)/build.rmdkrnl/rmdkrnl.dbg
   struct_file          = $(STRUCT_OUT)
   start_address        = 0x9e800
   dram_offset          = 0x0
